Books/*
.idea/
JavaDoc/
jars/maven.iml
jars/pom.xml
jars/src/
models/README-Models.txt
models/english-bidirectional-distsim.tagger.props
models/english-left3words-distsim.tagger.props
out/
src/META-INF/
wordCount.iml
wordcount.properties
