
#menuBar {
    -fx-background-color: #E0E0E0;
}

#toolBar {
    -fx-background-color: #F5F5F5;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 0);
}

#statusBar {
    -fx-background-color: #F5F5F5;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 0);

}

#placeHolder {
    -fx-font: 32px Ubuntu;
    -fx-fill: #E0E0E0;
}

#statusText {
    -fx-fill: #212121;
    -fx-font: 12px Ubuntu;
}